<template name="Home">
  <h2>Popular Packages</h2>
  <table>
  	<thead>
  		<tr><th>Package Name</th><th>Description</th><th>Downloads</th></tr>
  	</thead>
  	<tbody>
  		{{#each packagetracker}}
  			<tr><td><a href="{{this.git}}">{{this.name}}</a></td><td>{{this.description}}</td><td>{{this.installCount}}</td></tr>
  		{{/each}}
  	</tbody>
  </table>
  {{#if moreResults}}
    <div id="showMoreResults" style="margin-left: 25px;">
        <span class="loading">Loading...</span>
    </div>
  {{/if}}
</template>
